@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.big-bebas {
    @apply font-bebas text-5xl sm:text-6xl md:text-7xl tracking-tighter
}

.btn_base {
    @apply rounded-lg font-robotoFlex font-semibold py-2 px-3 sm:px-4 sm:py-3 md:px-6 text-xs sm:text-sm md:text-base inline-block;
}

.btn-blue {
    @apply bg-blueDark text-whiteBg;
}

.btn-white {
    @apply bg-transparent text-blueDark border border-blueDark;
}

.cars-main {
    @apply absolute top-80 sm:top-64 lg:top-56 -right-3 sm:right-0 sm:w-2/3 lg:w-fit;
}

.gallery-photos {
    @apply mb-5 sm:mb-0 sm:mr-10 md:mr-16 w-10/12 sm:w-1/2 sm:h-1/2 lg:w-full;
}

.gallery-dot {
    @apply w-2 h-2 mx-1 lg:mx-2 rounded-full cursor-pointer;
}

.small-bebas {
    @apply font-bebas text-xl sm:text-px21 md:text-2xl tracking-tight;
}

.about-p {
    @apply mt-4 mb-4 sm:mb-6 text-sm;
}

.btn-border-b-white {
    @apply pb-2 border-b border-white text-sm;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}