@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-smaller {
    @apply py-3 px-5 rounded-lg font-robotoFlex font-semibold text-sm;
}

.btn {
    @apply py-3 px-6 rounded-lg font-robotoFlex font-semibold text-base;
}

.btn-blue {
    @apply bg-blueDark text-whiteBg;
}

.btn-white {
    @apply bg-transparent text-blueDark border border-blueDark;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}